.createFormWrapper{
    background-color:#333333;
    color:white;
}

.createFormHeader {
    background-color: #222222;
    text-align:center;
}

.createFormHeader h1{
    color: #f8c100;
}

.buttonContainer{
    width:100%;
    display:flex;
    justify-content:space-between;
}

.dnnFormItem input:invalid{
    background-color:white;
}

.cancelButton {
    margin: 1rem 0;
    width: 5rem;
    height: 4rem;
    border: none;
    box-shadow: black 4px 4px;
    background-color: #f8c100;
    color: black;
    cursor: pointer;
}

.createButton {
    margin: 1rem 0;
    width: 5rem;
    height: 4rem;
    border: none;
    box-shadow: black 4px 4px;
    background-color: rgba(225, 22, 22, 0.812);
    color: black;
    cursor:pointer;
}

.createFormContainer{
    margin: 0 auto;
    width: 50%;
}

.carContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carContainer input{
    width: 90%;
}

.timeContainer {
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timeContainer input{
    width: 90%;
}

.dnnFormItem{
    margin:0 auto;
    position:relative;
}

.dnnFormItem select{
    margin-bottom: 0px;
    max-width:none;
    height:3rem;
    width:90%;
}

.dnnFormItem input[type="text"] {
    max-width: none;
    box-sizing: border-box;
    width: 100%;
    border: none;
    margin-bottom: 0px;
    height: 3rem;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.endTimeLabel{
    margin-left:10%;
}

#EndError {
    margin-left: 10%;
}

#EndTime{
    float:right;
}

.dnnFormItem input[type="text"]:focus, .dnnFormItem select:focus{
    margin-bottom: 0px;
    border:none;
    box-shadow:none;
    outline: 2px solid #f8c100;
}

input, select {
    max-width:none;
    box-sizing: border-box;
    margin-bottom: 0px;
    outline: none;
    width: 100%;
    height: 3rem;
}

input:focus,select:focus{
    border:none;
    box-shadow:none;
    outline: 2px solid #f8c100;
}

.error-message {
    color: rgba(225, 22, 22, 0.812);
    margin-top: 0px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #333333;
    color:white;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-close-container{
    position:absolute;
    right:1rem;
}

.modal-close { 
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(225, 22, 22, 0.812);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding: 2px 16px;
    background-color: #111111;
    color: #f8c100;
}

.modal-header h2{
    color: #f8c100;
}

.modal-body {
    margin-top:0.5rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding: 2px 16px;
}

.modal-footer {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding: 2px 16px;
    background-color: #111111;
    color: #f8c100;
}

.modal-footer h3{
    color: #f8c100;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}