.moduleContainer{
    background:#222222;
    color:white;
}

.CreateButton {
    background-color: rgba(225, 22, 22, 0.812);
    margin: 10px;
    text-align: left;
    position: relative;
    border-width: 7px;
    border-style: solid;
    border-color:#111111;
}

