﻿﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<AppointmentData>

@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using Dnn.Appointment.Debug.DnnAppointmentDebug.Services
@using Dnn.Appointment.Debug.DnnAppointmentDebug.Models;

@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/DnnAppointmentDebug/Scripts/Scripts.js");

    var appointments = ViewBag.Appointments as AppointmentData[]
?? new AppointmentData[] { };}

<div class="moduleWrapper">
    <div class="col-md-12 moduleContainer">
        <div class="col-md-9">
            <div class="textLabel">
                <p>Why should you make an appointment?</p>
            </div>
            <div class="textContainer">
                <p>Lorem Ipsum</p>
            </div>
            <div class="appointmentTextContainer">
                <p>Your Appointments</p>
            </div>
            <div class="appointmentListContainer">
                @if (appointments.Length == 0)
                {
                    <p>No appointments yet</p>
                }
                else
                {
                    foreach (var item in appointments)
                    {
                        <div class="appointment-item">
                            @(item.Date.DateTime.ToLongDateString())
                            <button type="button" id="delete-@item.AppointmentID" class="appointment-secondary-button" onclick="$.deleteappointment(@item.AppointmentID)">Delete</button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-3">
            <div class="createButtonContainer">
                <button type="button" class="createButton" onclick="@Url.Action("Create","AppointmentBooking",new {ctl = "Create", })">Create appointment</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function ($, Sys) {
        $(function () {
            $.deleteappointment = function(cancelid) {
                var deleteproxy = new AppointmentProxy(
                '@Dnn.ActiveModule.ModuleID',
                'AppointmentBookingAppointment'
                );
                deleteproxy.cancel(cancelid, () => { window.location.reload() })
            }
            }
        )
    })(jQuery, window.Sys);
</script>